[submodule "app/src/main/secp/secp256k1"]
	path = app/src/main/secp/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "app/src/main/jni/maxwallet-core"]
	path = app/src/main/jni/maxwallet-core
	url = https://github.com/maxcoin-projects/maxcoin-wallet-core
